.logo {
    width: 100px;
    overflow: hidden;
}

/*  */

.carousel-item {
    height: 100vh;
    min-height: 200px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
}

.carousel-caption {
    bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h1 {
    font-size: 8vh;
    font-weight: 600;
}

.carousel-caption p {
    font-size: 3vh;

}

.single-course {
    width: 47%;
    margin: 0 1.5% 0 1.5%;
}

.courses,
.learning,
.join,
.seccess-student,
.faq,
.brands,
footer {
    margin-top: 120px;
}

.courses h1 {
    font-size: 10vh;
    font-weight: 600;

}

.learning {
    background: #F4FAFD;
}

.learning h1 {
    font-size: 10vh;
    margin-top: 50px;
}

.learning p {
    font-size: 5vhpx;
    color: #898A8A;
}

.join {
    padding: 20px 50px;
}

.students h6 {
    color: #898A8A;
}

.feedback h1 {
    font-size: 50px;
}

.accordion {
    padding: 5% 15%;
}

footer .row {
    padding: 50px;
}

.row.col-md-6.border.border-1.ps-0.ms-0.single-course {
    margin-right: 2%;
    margin-bottom: 2%;
    width: 48%;
}

.views h1 {
    font-size: 10vh;
}


@media screen and (max-width:576px) {
    .brands {
        display: none !important;
    }

    .carousel-caption {
        bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .img-box img {
        width: 100%;
        overflow: hidden;
    }

    .students .card {
        width: 100% !important;
    }

    .accordion {
        padding: 5% 0;
    }

    .single-course {
        width: 90% !important;
        margin: auto;
        padding-right: 0;
        margin-bottom: 20px;

    }

    .img-box img {
        width: 100% !important;

    }

    .learning img {
        width: 100% !important;
    }


}

@media screen and (min-width:576px) and (max-width:992px) {


    .brands {
        display: none;
    }

    .accordion {
        padding: 5% 0;
    }

    .learning h1 {
        margin-top: 10px;
    }

    .learning p {
        height: 50px;
        overflow: hidden;
    }

    .learning img {
        height: 100%;
    }

    .learning button {
        font-style: 16px;
        padding: 10px 20px !important;
    }

    .carousel-caption {
        bottom: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }



    .single-course {
        width: 100% !important;
    }
}

@media screen and (min-width:992px) {


    .register {
        margin: auto;
    }

    .single-course {
        margin-right: 10px !important;
        overflow: hidden;
    }

}